name: ci
on: push
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: snakehead007/drp
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }} 